themes {
    github-light {
        bg "#24292f"
        fg "#ffffff"
        red "#d73a49"
        green "#28a745"
        blue "#0366d6"
        yellow "#dbab09"
        magenta "#5a32a3"
        orange "#fe640b"
        cyan "#0598bc"
        black "#24292e"
        white "#6a737d"
    }
}
